body {
  font-family: "Montserrat";
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-medium";

}
p {
  font-family: "Montserrat";
  text-align: center;
  color: black;
}

/* Headings */
/* .big-title {
    color: black;
} */
.right {
    right: 0px;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#total {
    font-size: 1.25rem;
    font-weight:bold;
}
.section-heading {
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 5%
}
.form-inline {
    color: #7fcd91;
}
/* Containers */
.container-fluid {
  padding: 3% 12% 7%;
  text-align: center;
  color:black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-width: 30vh;
    overflow: auto;
    padding-right: 4%
  }

/* Sections */
.colored-section {
  background-color: whitesmoke;
  color: black;
  
}
/* .white-section {
    background-color: #ff4c68; */
/* background-color: #fff; */
/* } */
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
  background-color: #1b262c;
  padding: 1% 1% 

}
.dropdown-menu{
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #1b262c;
  
  padding: 1% 1%;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Title Section */
#title {
  background-color: whitesmoke;
  color: #7fcd91;
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}

.product-column {
  padding: 3% 2%;
}

#product-detail {
  text-align: center;
}

#product-detail img {
  max-width: 50%;
  max-height: 50%;
}

.product-grid6,
.product-grid6 .product-image6 {
  /* overflow: hidden; */
}
.product-grid6 {
  font-family: "Montserrat";
  text-align: center;
  position: relative;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-grid6 .product-image6 a {
  display: block;
}
.product-grid6 .product-image6 img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover .product-image6 img {
  transform: scale(1.1);
}
.product-grid6 .product-content {
  padding: 12px 12px 15px;
  transition: all 0.5s ease 0s;
  
}
.product-grid6:hover .product-content {
  opacity: 0;
  
}
.product-grid6 .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-grid6 .title a {
  color: #000;
}
.product-grid6 .title a:hover {
  color: #000;
}
.product-grid6 .price {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.product-grid6 .price span {
  color: #999;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}
.product-grid6 .social {
  background-color: whitesmoke;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.product-grid6:hover .social {
  opacity: 1;
  bottom: 20px;
}
.product-grid6 .social li {
  display: inline-block;
}
.product-grid6 .social li a {
  color: #909090;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 1px solid #909090;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.product-grid6 .social li a:hover {
  color: black;
  background-color: #2e86de;
  width: 80px;
}
.product-grid6 .social li a:after,
.product-grid6 .social li a:before {
  content: attr(data-tip);
  color: black;
  background-color: #2e86de;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-grid6 .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}
.product-grid6 .social li a:hover:after,
.product-grid6 .social li a:hover:before {
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  .product-grid6 {
    margin-bottom: 30px;
  }
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}
